<%- include('./articles/partials/headerAndNav') %> 


    <main>
      <div class="recent-container">
        <div class="recent-image-container">
          <a href="/articles/<%= article1._id %>">
            <img class="recent-image" src="<%= article1.img %>" alt="photo"
          /></a>
        </div>
        <div class="recent-info">
          <p class="recent-title"><%= article1.title %></p>
          <p class="recent-quote">"<%= article1.quote %>"</p>
          <a href="/articles/<%= article1._id %>"
            ><button id="recent-read-btn">read</button></a
          >
        </div>
      </div>

      <div class="recent-card-master">
        <p class="recent-card-text">Recent Posts</p>

        <div class="recent-card-container">
          <div class="recent-card">
            <a href="/articles/<%= article2._id %>">
              <img class="recent-card-img" src="<%= article2.img %>" alt="" />
              <p class="recent-card-title"><%= article2.title %></p>
            </a>
          </div>

          <div class="recent-card">
            <a href="/articles/<%= article3._id %>">
              <img class="recent-card-img" src="<%= article3.img %>" alt="" />
              <p class="recent-card-title"><%= article3.title %></p>
            </a>
          </div>

          <div class="recent-card">
            <a href="/articles/<%= article4._id %>">
              <img class="recent-card-img" src="<%= article4.img %>" alt="" />
              <p class="recent-card-title"><%= article4.title %></p>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="header-motto">small moments <b>BIG IMPACT</b></div>
        <span>&copy; Minute Meditation 2022</span>
      </div>
    </footer>

    <script src="/app.js"></script>
  </body>
</html>
