<%- include('./partials/headerAndNav') %> 


    <div class="index-header">
      <h1>All Articles:</h1>
      <% if (currentUser) { %>
      <a class="btn btn-info write-new-btn" href="/articles/new"
        >Write New Post</a
      >
      <% } %>
    </div>

    <main>
      <% for (let article of articles) { %>
      <div class="index-card my-4">
        <img class="index-card-image" alt="" src="<%=article.img%>" />
        <div class="index-card-body">
          <h5 class="index-card-title"><%= article.title %></h5>
          <p class="index-card-text"><%= article.quote %></p>
          <p class="text-muted"><%= article.topic %></p>
          <a
            class="btn btn-primary view-post-btn"
            href="/articles/<%= article._id %>"
            >View Post</a
          >
        </div>
      </div>
      <% } %>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
