<%- include('./partials/headerAndNav') %> 


    <div class="article-container">
      <img class="article-image" src="<%=article.img%>" alt="article image" />
      <div class="article-info">
        <div class="display-1 article-title"><%= article.title %></div>
        <p class="article-body article-verse"><%= article.verse %></p>
        <p class="article-body"><%= article.blogBody %></p>
        <p class="text-muted">Written by: <%= article.author.username %></p>
        <p class="text-muted"><%= article.createdAt.toLocaleDateString() %></p>
      </div>
    </div>

    <div class="article-btns">
      <a class="btn btn-success" href="/articles">All Articles</a>

      <% if (currentUser && article.author.equals(currentUser._id)) { %>
      <a class="btn btn-warning" href="/articles/<%= article._id %>/edit"
        >Edit Article</a
      >
      <form action="/articles/<%=article._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete Article</button>
      </form>
      <% } %>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
